<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>hk.guru.CrossRaysUnitBrowser</key>
		<string>Cross Rays Distribution</string>
	</dict>
	<key>signingCertificate</key>
	<string>D874E743F7057CB12E3091E8621AEE0B3383755C</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>uploadBitcode</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>HCA6MY6EMG</string>
</dict>
</plist>
